version: "3.9"

services:
  frontend:
    image: frontend-docker:latest
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

  backend:
    image: backend-docker-image:latest
    container_name: backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - ENV=production
